body {
        padding-top: 20px;
        padding-bottom: 40px;
        /*background: url("../img/bg.png");*/
        background: #F4F0DE;
      }

      /* Custom container */
      .container {
        
      }

      .container-narrow {
        margin: 0 auto;
        max-width: 1000px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      .alert-info { width: 150px; position: fixed; top:50px; left: 40%;}
h1 a.logo { 
  background: url("../img/logo-crown-all.png"); 
  width: 100px; 
  height: 100px;
  display: block;
  margin: 0 auto;
}
h1 a.logo:hover {
  background: url("../img/logo-crown-all.png") 0 -100px; 
}
.marketing .first-span { margin-left: 0;}
.input-append input,.input-append select,.input-append .uneditable-input { height: 100%;}

.row-fluid .span3:nth-child(4n+1) {
  margin-left: 0;
}